{% extends 'WhatsappBundle:Default:home.html.twig' %}


{% block contenido_especifico %}
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image: url({{ asset('bundles/whatsapp/img/img-home/img/whatsapp-2.jpg')  }});"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                        <div class="header header-primary text-center">
                            <div class="logo-container">

                            </div>
                        </div>
                        <div class="content">
                            <h4 class="box-title"> Registro de usuario </h4>
                        </div>
                            
                        {{ form_widget(form) }}
                        <div>
                            <input class="btn btn-primary btn-round btn-lg btn-block" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </form>
                    <a style="float: left;" class="nav-link" href="{{ path('fos_user_security_login') }}"><i class="fa fa-arrow-circle-o-left"></i></a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer%}
{% endblock %}