{% extends 'WhatsappBundle::standard_layout.html.twig' %}
{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ path('sonata_admin_dashboard', {action:"list"}) }}">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('my_companies', {action:"list"}) }}">
                    Mis empresas
                </a>
            </li>

            <li class="active"><span>Agregar Empresa</span></li>
        </ol>
        </div>
        {% endblock sonata_breadcrumb %}
{% block sonata_admin_content %}

    {% include '@SonataCore/FlashMessage/render.html.twig' %}
    <style type="text/css">
        {##container {
                min-width: 310px;
                max-width: 800px;
                height: 400px;
                margin: 0 auto
        }#}
    </style>
    <div class="sonata-ba-form">



        <form
            {% if admin_pool.getOption('form_type') == 'horizontal' %}class="form-horizontal"{% endif %}
            role="form"
            action="{{ path('my_companies', {action:"create"}) }}" {{ form_enctype(form) }}
            method="POST"
            {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
            >
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            {% for flashMessage in app.session.flashbag.get('error') %} 
                <div class="alert alert-warning">
                    {{ flashMessage | trans({}, 'RegistroentradaBundle')}} 
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h4 class="box-title"> {{ 'Agregar empresa'|trans({}, 'WhatsappBundle') }} </h4>
                                </div>          

                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {#<div class="form-group">
                                            {{ form_errors(form.company)}}  
                                            {{ form_label(form.company)}}  
                                            {{ form_widget(form.company, {attr: {'class': 'form-control '}}) }}  
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.timeZone)}}  
                                            {{ form_label(form.timeZone)}}  
                                            {{ form_widget(form.timeZone, {attr: {'class': 'form-control '}}) }}  
                                        </div>
                                        
                                        <div class="form-group">
                                            {{ form_errors(form.isAlertMail)}}  
                                            {{ form_label(form.isAlertMail)}}  
                                            {{ form_widget(form.isAlertMail) }}  
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.isAlertCall)}}  
                                            {{ form_label(form.isAlertCall)}}  
                                            {{ form_widget(form.isAlertCall) }}  
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.isAlertSms)}}  
                                            {{ form_label(form.isAlertSms)}}  
                                            {{ form_widget(form.isAlertSms) }}  
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.minutesAnswerAlert)}}  
                                            {{ form_label(form.minutesAnswerAlert)}}  
                                            {{ form_widget(form.minutesAnswerAlert, {attr: {'class': 'form-control '}}) }}  
                                        </div>
                                        
                                        
                                        <div class="form-group">
                                            {{ form_errors(form.minutesResolutionAlert)}}  
                                            {{ form_label(form.minutesResolutionAlert)}}  
                                            {{ form_widget(form.minutesResolutionAlert) }}  
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.dayEndWeek)}}  
                                            {{ form_label(form.dayEndWeek)}}  
                                            {{ form_widget(form.dayEndWeek) }}  
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.hourEndWeek)}}  
                                            {{ form_label(form.hourEndWeek)}}  
                                            {{ form_widget(form.hourEndWeek) }}  
                                        </div>#}
                                        {#<div class="form-group">
                                            {{ form_label(form.demo)}}  
                                                {{ form_widget(form.demo) }}  
                                        </div>#}
                                        {#<div class="form-group">
                                            {{ form_label(form.ticket)}}  
                                                {{ form_widget(form.ticket, {attr: {'class': 'form-control '}}) }}  
                                        </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.whatsappGroup)}}  
                                                {{ form_widget(form.whatsappGroup, {attr: {'class': 'form-control '}}) }}  
                                        </div>
                                        #}
                                        
                                        {{ form_rest(form) }}  
                                        <div class="row">


                                            {#<div class="col-md-8 ">
                                                
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_label(form.dtmmessage)}}  
                                                {{ form_widget(form.dtmmessage, {'horizontal': false, 'class': 'horizontal_input_wrapper_class'}) }}  
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_label(form.ticket)}}  
                                                {{ form_widget(form.ticket, {'horizontal': false, 'class': 'horizontal_input_wrapper_class'}) }}  
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_label(form.whatsappGroup)}}  
                                                {{ form_widget(form.whatsappGroup, {'horizontal': false, 'class': 'horizontal_input_wrapper_class'}) }}  
                                            </div>#}

                                            <div class="col-md-12">
                                                {% block formactions %}
                                                    {% block sonata_form_actions %}
                                                        <button type="submit" class="btn btn-success" name="btn_update"><i class="fa fa-save"></i> {{ 'Crear'|trans({}, 'WhatsappBundle') }}</button>
                                                        <a class="btn btn-info" href="{{ path('my_companies', {action:"list"}) }}"><i class="fa fa-pencil"></i> {{ 'Cancelar'|trans({}, 'WhatsappBundle') }}</a>
                                                    {% endblock %}
                                                {% endblock formactions %}
                                            </div>



                                            <div class="col-md-5 hidden">
                                                <div class="form-group">
                                                    {#{{ form_label(form.trabajador) }}  #}
                                                    <div class="">



                                                    </div>  
                                                </div> 
                                            </div> 
                                        </div>


                                    </div>          
                                </div>          
                            </div>          
                        </div>          
                    </div>          
                </div>    

        </form>
    </div>

</div>

    {%if is_granted('ROLE_SUPER_ADMIN')%}
        <script>
            jQuery(document).ready(function ($) {
                    var a = $("html body.sonata-bc.skin-black.fixed div.wrapper aside.main-sidebar div.slimScrollDiv section.sidebar ul.sidebar-menu li.treeview:nth-child(4)");
                    console.log(a);
                    a.toggleClass("active")
                    $("html body.sonata-bc.skin-black.fixed div.wrapper aside.main-sidebar div.slimScrollDiv section.sidebar ul.sidebar-menu li.treeview.active ul.active.treeview-menu.menu_level_1 li.first").toggleClass("active");
                    a.trigger("click");
                });

        </script>
        {%else%}
            <script>
                jQuery(document).ready(function ($) {

                        var a = $("html body.sonata-bc.skin-black.fixed div.wrapper aside.main-sidebar div.slimScrollDiv section.sidebar ul.sidebar-menu li.treeview:nth-child(2)");
                        console.log(a);
                        a.toggleClass("active")
                        $("html body.sonata-bc.skin-black.fixed div.wrapper aside.main-sidebar div.slimScrollDiv section.sidebar ul.sidebar-menu li.treeview.active ul.active.treeview-menu.menu_level_1 li.first").toggleClass("active");
                        a.trigger("click");
                    });

        </script>
    {%endif%}

{% endblock %}

{% block inlinejavascript %}

{% endblock %}