
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <!--
      Modified from the Debian original for Ubuntu
      Last updated: 2016-11-16
      See: https://launchpad.net/bugs/1288690
    -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Apache2 Ubuntu Default Page: It works</title>
        <style type="text/css" media="screen">
            @media print {
                table {
                    margin-left: auto;
                    margin-right: auto;
                    border-collapse:collapse;
                    {#                padding: 3px 3px 3px 3px;#}


                    font-family: Verdana, sans-serif;
                    font-size: 11pt;
                    text-align: center;
                    border: solid 2px black;
                    width: 400px;
                }
                .border-top {
                    border-top: solid 2px black;
                }
                .border-1{
                    border: 1pt solid black;
                }
                .background{
                    background-color: #DDD;
                }
                td{
                    width: 25%;   
                }
            }
            table {
                margin-left: auto;
                margin-right: auto;
                border-collapse:collapse;
                {#                padding: 3px 3px 3px 3px;#}


                font-family: Verdana, sans-serif;
                font-size: 11pt;
                    text-align: center;
                    border: solid 2px black;
                    width: 400px;
            }
            .border-top {
                border-top: solid 2px black;
            }
            .border-1{
                border: 1pt solid black;
            }
            .background{
                background-color: #DDD;
            }
            td{
                width: 25%;   
            }
            .image{
                width: 100px;
            }
        </style>
    </head>
    <body>
        <div class="main_page">
            <div class="page_header floating_element">

                <table class="table">
                    <tbody>
                        <tr class="">
                            <td class="" colspan="3">
                                <h3>OBLEA DE RETIRO</h3>
                            </td>
                        </tr>  
                        <tr class="border-top">
                            <td class="border-1" colspan="2">
                                {{obleaRetiro.name}}
                            </td>

                            <td class="border-1 ">
                                <img class='image' src="http://192.168.11.202/whatsappshop/web/seprit2.png" alt="Ubuntu Logo" class="floating_element"/>
                            </td>
                        </tr>
                        <tr class="">
                            <td class="" colspan="3">
                                Número Operativo 384884
                            </td>
                        </tr>
                        <tr class="">
                            <td class="background border-1" >
                                <b>N° Reclamo</b>
                            </td>

                            <td class="background border-1" >
                                <b>Bulto</b>
                            </td>

                            <td class="background border-1" >
                                <b>Peso</b>
                            </td>
                        </tr>
                        <tr class="">
                            <td class=" border-1" >
                                {{obleaRetiro.noReclamo}}
                            </td>

                            <td class=" border-1" >
                                {{obleaRetiro.bulto}}
                            </td>

                            <td class=" border-1" >
                                {{obleaRetiro.peso}}
                            </td>
                        </tr>
                        <tr class="">
                            <td class=" background border-1" >
                                <b>Entrega en domicilio:</b>
                            </td>

                            <td class=" border-1" colspan="2" style="font-size: 14pt;">
                                {{obleaRetiro.entregaEnDomicilio}}
                            </td>

                        </tr>
                        
                        <tr class="">
                            <td class="background border-1" colspan="3">
                                <b>DESTINATARIO</b>
                            </td>
                        </tr>
                        <tr class="border-top">
                            <td class=" " colspan="3">
                                {{obleaRetiro.destinatarioNames}}
                            </td>
                        </tr>
                        <tr class="">
                            <td class=" " colspan="3">
                                {{obleaRetiro.destinatarioEmails}}
                            </td>
                        </tr>
                        <tr class="">
                            <td class=" " colspan="3">
                                {{obleaRetiro.destinatarioPhones}}
                            </td>
                        </tr>
                    </tbody>

                </table
            </div>
        </div>

    </body>
</html>
